{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky - Login{% endblock %}
{% block page_content%}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class='col-md-4'>
    {{wtf.quick_form(form)}}
    <p>
        New User?
        <a href="{{ url_for('auth.register') }}">
            Click here to register
        </a>
    </p>
    <div>
        Forget Password?
        <a href="{{ url_for('auth.password_reset_request') }}">
            Click here to reset it
        </a>
    </div>
    <div class="alert-warning">
        {{ get_flashed_messages()[-1] }}
    </div>
</div>
{% endblock %}