{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

<div class="col-md-4" style="width: 30%;">
    <form method="POST" action>
             {{form.hidden_tag()}}
             <fieldset class="form-group">
                {{form.name}}
                {% for choice in form.shop %}
                     <div class="form-check">
                         {{ choice(class="form-check-input")}}
                         {{ choice.label(class="form-check-label") }}
                     </div>
                 {% endfor %}
                 <h5>價格區間</h5>
                 {{form.minprice(style="width:40%")}} ~ {{form.maxprice(style="width:40%")}}
             </fieldset>
             <div class="form-group">
                 {{ form.submit(class="btn btn-outline-info") }}
             </div>
    </form>
 </div>

<!-- {{ itemtable|safe }} -->

<table border="1" id="myTable" style="width:70%">
    <thead>
        <tr style="text-align: right;">
            <th>
            </th>
            <th>產品</th>
            <th>價格</th>
            <!-- <th>maxprice</th> -->
            <th>商城</th>
          </tr>
    </thead>
    <tbody>
        {% for item in itemtable %}
        <tr>
            <th>
                <img itemprop="image" src= {{ item["iurl"] }} width="100" height="100">
            </th>
            <td><a href={{item['url']}}>{{item["item"]}}</a></td>
            {% if item["minprice"] != item["maxprice"] %}
            <td>{{item["minprice"]}} ~ {{item["maxprice"]}}</td>
            {% else %}
            <td>{{item["maxprice"]}}</td>
            {% endif %}
            <td>{{item["shop"]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/css/theme.blue.min.css"></link>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.5/js/jquery.tablesorter.min.js"></script>
<script>
    $("#myTable").tablesorter({
    theme: "blue",
    widgets: ['zebra']
    });
</script>
{% endblock %}